In [98]:
2 + 1

3

In [99]:
2 - 1

1

In [100]:
2 * 2

4

In [101]:
3 / 2

1.5

In [102]:
7 // 4 # only returns the integer part and not the decimal part.

1

In [103]:
2 ** 4

16

In [104]:
4 ** 0.5 # roots can also be done like this

2.0

In [105]:
2 + 10 * 10 + 3

105

In [106]:
(2+10) * (10+3)

156

In [107]:
a = 5
a

5

In [108]:
a + a

10

In [109]:
a

5

In [110]:
a = a + a

a

10

In [111]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

my_taxes

10.0

In [112]:
my_dogs = 2

my_dogs

2

In [113]:
my_dogs = ['Sammy' , 'Frankie']

my_dogs

['Sammy', 'Frankie']

In [114]:
a = 10
a = a + 5

a

15

In [115]:
a = 10
a += 5

a

15

In [116]:
a *= 2

a

30

In [117]:
type(a)

int

In [118]:
a = (1,2)
type(a)

tuple

In [119]:
'hello'

'hello'

In [120]:
'This is also a string.'

'This is also a string.'

In [121]:
"String built with double quotes"

'String built with double quotes'

In [122]:
'I'm using single quotes, but this will create an error''

SyntaxError: invalid syntax (4231677663.py, line 1)

In [ ]:
"Now I'm ready to use single quotes inside a string!"

"Now I'm ready to use single quotes inside a string!"

In [ ]:
'Hello World 1'

'Hello World 1'

In [ ]:
'Hello World 1'
'Hello World 2'

'Hello World 2'

In [ ]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

In [ ]:
len('Hello World')

11

In [ ]:
s = 'Hello World'

s # returns a value hence output displayed in single quotes

'Hello World'

In [ ]:
print (s) # prints the value hence output displayed without single quotes

Hello World

In [ ]:
s[0]

'H'

In [ ]:
s[1]

'e'

In [ ]:
s[2]

'l'

In [ ]:
#   H   e   l   l   o       W   o   r   l   d
#   0   1   2   3   4   5   6   7   8   9   10
# -11 -10  -9  -8  -7  -6  -5  -4  -3  -2  -1

In [ ]:
s[1:]

'ello World'

In [ ]:
s

'Hello World'

In [ ]:
s[:3]

'Hel'

In [ ]:
s[:]

'Hello World'

In [ ]:
s[::1]

'Hello World'

In [ ]:
s[::2]

'HloWrd'

In [ ]:
s[::-1]

'dlroW olleH'

In [151]:
s[2:8]

'llo Wo'

In [ ]:
s

'Hello World'

In [ ]:
s[0] = 'X' # strings are immutable

TypeError: 'str' object does not support item assignment

In [ ]:
s = 'Hello World'

s

'Hello World'

In [ ]:
s + 'concatenate me!'

'Hello Worldconcatenate me!'

In [ ]:
s

'Hello World'

In [ ]:
s = s + ' concatenate me!'
print (s)

Hello World concatenate me!

In [ ]:
s

'Hello World concatenate me!'

In [ ]:
letter = 'z'
letter*10

'zzzzzzzzzz'

In [ ]:
s.upper()

'HELLO WORLD CONCATENATE ME!'

In [ ]:
s.lower()

'hello world concatenate me!'

In [ ]:
s.split()

['Hello', 'World', 'concatenate', 'me!']

In [ ]:
s.split('W')

['Hello ', 'orld concatenate me!']

In [ ]:
s.split('e')

['H', 'llo World concat', 'nat', ' m', '!']

In [ ]:
print("I'm going to inject %s here." %'something')

I'm going to inject something here.

In [ ]:
print("I'm going to inject %s text here, and %s text here." %('some','more'))

I'm going to inject some text here, and more text here.

In [ ]:
x, y = 'some', 'more'
print("I'm going to inject %s text here, and %s text here."%(x,y))

I'm going to inject some text here, and more text here.

In [ ]:
print('He said his name was %s.' %'Fred')
print('He said his name was %r.' %'Fred') # delivers the string representation

He said his name was Fred.
He said his name was 'Fred'.

In [ ]:
print('I once caught a fish %s.' %'this \tbig')
print('I once caught a fish %r.' %'this \tbig') # tab does not work while delivering string reresentation

I once caught a fish this 	big.
I once caught a fish 'this \tbig'.

In [ ]:
print('I wrote %s programs today.' %3.75)
print('I wrote %d programs today.' %3.75) # rounds off the number

I wrote 3.75 programs today.
I wrote 3 programs today.

In [ ]:
print('Floating point numbers: %5.2f' %(13.144)) # 5 would be the minimum number of characters the string should contain; these may be padded with whitespace if the entire number does not have this many digits. Next to this, .2f stands for how many numbers to show past the decimal point

Floating point numbers: 13.14

In [ ]:
print('Floating point numbers: %1.0f' %(13.144))

Floating point numbers: 13

In [ ]:
print('Floating point numbers: %1.5f' %(13.144))

Floating point numbers: 13.14400

In [123]:
print('Floating point numbers: %10.2f' %(13.144))

Floating point numbers:      13.14

In [124]:
print('Floating point numbers: %25.2f' %(13.144))

Floating point numbers:                     13.14

In [125]:
print('First: %s, Second: %5.2f, Third: %r' %('hi!',3.1415,'bye!'))

First: hi!, Second:  3.14, Third: 'bye!'

In [126]:
print('This is a string with an {}'.format('insert'))

This is a string with an insert

In [128]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [129]:
print('First Object: {a}, Second Object: {b}, Third Object: {c}'.format(a=1,b='Two',c=12.3))

First Object: 1, Second Object: Two, Third Object: 12.3

In [130]:
print('A %s saved is a %s earned.' %('penny','penny'))
# vs.
print('A {p} saved is a {p} earned.'.format(p='penny'))

A penny saved is a penny earned.
A penny saved is a penny earned.

In [132]:
print('{0:8} | {1:9}'.format('Fruit', 'Quantity'))
print('{0:8} | {1:9}'.format('Apples', 3.))
print('{0:8} | {1:9}'.format('Oranges', 10)) # By default, .format() aligns text to the left, numbers to the right

Fruit    | Quantity
Apples   |       3.0
Oranges  |        10

In [134]:
print('{0:<8} | {1:^8} | {2:>8}'.format('Left','Center','Right'))
print('{0:<8} | {1:^8} | {2:>8}'.format(11,22,33)) # can pass an optional <,^, or > to set a left, center or right alignment

Left     |  Center  |    Right
11       |    22    |       33

In [135]:
print('{0:=<8} | {1:-^8} | {2:.>8}'.format('Left','Center','Right'))
print('{0:=<8} | {1:-^8} | {2:.>8}'.format(11,22,33))

Left==== | -Center- | ...Right
11====== | ---22--- | ......33

In [136]:
print('This is my ten-character, two-decimal number:%10.2f' %13.579)
print('This is my ten-character, two-decimal number:{0:10.2f}'.format(13.579))

This is my ten-character, two-decimal number:     13.58
This is my ten-character, two-decimal number:     13.58

In [137]:
name = 'Fred'
print(f"He said his name is {name}.") # formatted string literals

He said his name is Fred.

In [138]:
print(f"He said his name is {name!r}")

He said his name is 'Fred'

In [139]:
num = 23.45678
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}") # Float formatting follows "result: {value:{width}.{precision}}"

My 10 character, four decimal number is:   23.4568
My 10 character, four decimal number is:   23.4568

In [140]:
num = 23.45
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:{10}.{6}}")

My 10 character, four decimal number is:   23.4500
My 10 character, four decimal number is:     23.45

In [141]:
num = 23.45
print("My 10 character, four decimal number is:{0:10.4f}".format(num))
print(f"My 10 character, four decimal number is:{num:10.4f}")

My 10 character, four decimal number is:   23.4500
My 10 character, four decimal number is:   23.4500

In [143]:
my_list = [1, 2, 3]

my_list

[1, 2, 3]

In [144]:
my_list = ['A string', 23, 100.232, 'o']

my_list

['A string', 23, 100.232, 'o']

In [145]:
len(my_list)

4

In [146]:
my_list = ['one','two','three',4,5]

In [147]:
my_list[2]

'three'

In [148]:
my_list[2:]

['three', 4, 5]

In [149]:
my_list[:3]

['one', 'two', 'three']

In [150]:
my_list = my_list + ['new item']

my_list

['one', 'two', 'three', 4, 5, 'new item']

In [155]:
my_list * 2

['one',
 'two',
 'three',
 4,
 5,
 'new item',
 'one',
 'two',
 'three',
 4,
 5,
 'new item']

In [154]:
print(my_list * 2)

['one', 'two', 'three', 4, 5, 'new item', 'one', 'two', 'three', 4, 5, 'new item']

In [157]:
list1 = [1, 2, 3]

In [158]:
list1.append('append me!')

list1

[1, 2, 3, 'append me!']

In [159]:
list1.pop(2)

3

In [160]:
list1

[1, 2, 'append me!']

In [161]:
popped_item = list1.pop()

popped_item

'append me!'

In [162]:
list1

[1, 2]

In [163]:
new_list = ['a','e','x','b','c']

new_list

['a', 'e', 'x', 'b', 'c']

In [166]:
new_list.reverse()

new_list

['c', 'b', 'x', 'e', 'a']

In [167]:
new_list.sort() # alphabetical order for string and ascending order for numbers

new_list

['a', 'b', 'c', 'e', 'x']

In [168]:
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [169]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [170]:
matrix[0]

[1, 2, 3]

In [171]:
matrix[0][2]

3

In [178]:
#  1(00)    2(01)    3(02)
#  4(10)    5(11)    6(12)
#  7(20)    8(21)    9(22)

In [184]:
first_col = [row[0] for row in matrix]

first_col

[1, 4, 7]

In [188]:
tableData =  [['1','2','3','4'], ['11','12','13','14'], ['21','22','23','24']]

tableData

[['1', '2', '3', '4'], ['11', '12', '13', '14'], ['21', '22', '23', '24']]

In [186]:
for row in range(len(tableData[0])):
    for item in range(len(tableData)):
        print(tableData[item][row], end = " ")
    print('')

1 11 21
2 12 22
3 13 23
4 14 24

In [191]:
my_dict = {'key1':'value1','key2':'value2'}

my_dict['key2']

'value2'

In [192]:
my_dict = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

my_dict['key3']

['item0', 'item1', 'item2']

In [193]:
my_dict['key3'][0].upper()

'ITEM0'

In [194]:
my_dict['key1']

123

In [195]:
my_dict['key1'] = my_dict['key1'] - 123

my_dict['key1']

0

In [196]:
my_dict['key1'] -= 123

my_dict['key1']

-123

In [197]:
d = {}
d['animal'] = 'Dog'
d['answer'] = 42

d

{'animal': 'Dog', 'answer': 42}

In [198]:
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

d['key1']['nestkey']['subnestkey']

'value'

In [199]:
d = {'key1':1,'key2':2,'key3':3}

d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [200]:
d.values()

dict_values([1, 2, 3])

In [201]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [204]:
t = ('one', 2, 3)

t

('one', 2, 3)

In [205]:
len(t)

3

In [206]:
t[0]

'one'

In [207]:
t[-1]

3

In [208]:
t.index(2)

1

In [209]:
t.count('one') # counts the number of times the value is in the tuple

1

In [211]:
t[0] = 'change' # tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [212]:
t.append('nope')

AttributeError: 'tuple' object has no attribute 'append'

In [213]:
x = set()

In [214]:
x.add(1)

x

{1}

In [215]:
x.add(2)

x

{1, 2}

In [217]:
x.add(1)

x

{1, 2}

In [218]:
list1 = [1,1,2,2,3,4,5,6,1,1]

set(list1)

{1, 2, 3, 4, 5, 6}

In [220]:
1 > 2

False

In [221]:
a = 3 > 1

a

True

In [222]:
myfile = open('whoops.txt') #no such text file in my memory

FileNotFoundError: [Errno 2] No such file or directory: 'whoops.txt'

In [224]:
pwd # shows the current location of this jupyter notebook

'c:\\Users\\spand\\Downloads\\Python Code'

In [2]:
%%writefile test.txt
Hello, this is a quick test file.

Overwriting test.txt

In [3]:
my_file = open('test.txt')

my_file.read()

'Hello, this is a quick test file.\n'

In [4]:
my_file.read()

''

In [6]:
my_file.seek(0) # takes the cursor to the beginning of the text

my_file.read()

'Hello, this is a quick test file.\n'

In [9]:
my_file.seek(0)

my_file.readlines() # used for larger files

['Hello, this is a quick test file.\n']

In [10]:
my_file.close() # must step

In [11]:
# add a second argument to the function, 'w' which stands for write.
# passing 'w+' lets us read and write to the file

my_file = open('test.txt','w+') # opening a file with 'w' or 'w+' truncates the original, meaning that anything that was in the original file is deleted!

In [12]:
my_file.write('This is a new line')

18

In [13]:
my_file.seek(0)
my_file.read()

'This is a new line'

In [14]:
my_file.close()

In [15]:
my_file = open('test.txt','a+')
my_file.write('\nThis is text being appended to test.txt')
my_file.write('\nAnd another line here.') # passing the argument 'a' opens the file and puts the pointer at the end, so anything written is appended. Like 'w+', 'a+' lets us read and write to a file. If the file does not exist, one will be created

23

In [16]:
my_file.seek(0)
print(my_file.read())

This is a new line
This is text being appended to test.txt
And another line here.

In [17]:
my_file.close()

In [18]:
%%writefile -a test.txt

This is text being appended to test.txt
And another line here.

Appending to test.txt

In [19]:
%%writefile test.txt
First Line
Second Line

Overwriting test.txt

In [20]:
for line in open('test.txt'):
    print(line)

First Line

Second Line

In [21]:
d = {'simple_key':'hello'}
# Grab 'hello'

d['simple_key']

'hello'

In [22]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

d['k1']['k2']

'hello'

In [23]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

d['k1'][0]['nest_key'][1][0]

'hello'

In [24]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [25]:
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

In [26]:
2 == 2 # == is a comparison operator, while = is an assignment operator.

True

In [29]:
1 == 0

False

In [27]:
2 != 1

True

In [28]:
2 != 2

False

In [30]:
2 >= 2

True

In [31]:
2 >= 1

True

In [32]:
2 <= 2

True

In [33]:
2 <= 4

True

In [34]:
1 < 2 < 3

True

In [35]:
1<2 and 2<3

True

In [36]:
1 < 3 > 2

True

In [37]:
1<3 and 3>2

True

In [38]:
1==2 or 2<3

True

In [39]:
1==1 or 100==1

True

In [40]:
if True:
    print('It was true!')

It was true!

In [41]:
x = False

if x:
    print('x was True!')
else:
    print('I will be printed in any case where x is not true')

I will be printed in any case where x is not true

In [42]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the bank!')
else:
    print('Where are you?')

Welcome to the bank!

In [43]:
person = 'Sammy'

if person == 'Sammy':
    print('Welcome Sammy!')
else:
    print("Welcome, what's your name?")

Welcome Sammy!

In [44]:
person = 'George'

if person == 'Sammy':
    print('Welcome Sammy!')
elif person =='George':
    print('Welcome George!')
else:
    print("Welcome, what's your name?")

Welcome George!

In [45]:
list1 = [1,2,3,4,5,6,7,8,9,10]
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [46]:
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [47]:
for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number')

Odd number
2
Odd number
4
Odd number
6
Odd number
8
Odd number
10

In [48]:
# Start sum at zero
list_sum = 0 

for num in list1:
    list_sum = list_sum + num

print(list_sum)

55

In [49]:
for letter in 'This is a string.':
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

In [50]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

In [51]:
list2 = [(2,4),(6,8),(10,12)]
for tup in list2:
    print(tup)

(2, 4)
(6, 8)
(10, 12)

In [52]:
for (t1,t2) in list2:
    print(t1)

2
6
10

In [54]:
d = {'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [55]:
d.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [56]:
for k,v in d.items():
    print(k)
    print(v)

k1
1
k2
2
k3
3

In [57]:
list(d.keys())

['k1', 'k2', 'k3']

In [59]:
sorted(d.values()) # use if there is an unordered list

[1, 2, 3]

In [60]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x

In [61]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    
else:
    print('All Done!')

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x
All Done!

In [62]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('x==3')
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
x==3
x is currently:  3
 x is still less than 10, adding 1 to x
continuing...
x is currently:  4
 x is still less than 10, adding 1 to x
continuing...
x is currently:  5
 x is still less than 10, adding 1 to x
continuing...
x is currently:  6
 x is still less than 10, adding 1 to x
continuing...
x is currently:  7
 x is still less than 10, adding 1 to x
continuing...
x is currently:  8
 x is still less than 10, adding 1 to x
continuing...
x is currently:  9
 x is still less than 10, adding 1 to x
continuing...

In [63]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('Breaking because x==3')
        break
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
Breaking because x==3

In [ ]:
while True: # infinite loop
    print("I'm stuck in an infinite loop!")

In [66]:
range(0,11)

range(0, 11)

In [65]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [67]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [68]:
list(range(0,101,10))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [69]:
index_count = 0

for letter in 'abcde':
    print("At index {} the letter is {}".format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [70]:
for i,letter in enumerate('abcde'):
    print("At index {} the letter is {}".format(i,letter))

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [71]:
list(enumerate('abcde'))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e')]

In [72]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']

In [73]:
zip(mylist1,mylist2)

In [74]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd'), (5, 'e')]

In [75]:
for item1, item2 in zip(mylist1,mylist2):
    print('For this tuple, first item was {} and second item was {}'.format(item1,item2))

For this tuple, first item was 1 and second item was a
For this tuple, first item was 2 and second item was b
For this tuple, first item was 3 and second item was c
For this tuple, first item was 4 and second item was d
For this tuple, first item was 5 and second item was e

In [76]:
'x' in ['x','y','z']

True

In [77]:
'x' in [1,2,3]

False

In [78]:
'x' not in ['x','y','z']

False

In [79]:
'x' not in [1,2,3]

True

In [80]:
mylist = [10,20,30,40,100]

In [81]:
min(mylist)

10

In [82]:
max(mylist)

100

In [83]:
from random import shuffle

# This shuffles the list "in-place" meaning it won't return
# anything, instead it will effect the list passed
shuffle(mylist)

mylist

[40, 100, 10, 20, 30]

In [84]:
from random import randint

# Return random integer in range [a, b], including both end points.
randint(0,100)

30

In [85]:
# Return random integer in range [a, b], including both end points.
randint(0,100)

78

In [86]:
input('Enter Something into this box: ')

"'Nothing'"

In [87]:
lst = [x for x in 'word']

lst

['w', 'o', 'r', 'd']

In [88]:
# Square numbers in range and turn into list
lst = [x**2 for x in range(0,11)]

lst

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [89]:
# Check for even numbers in a range
lst = [x for x in range(11) if x % 2 == 0]

lst

[0, 2, 4, 6, 8, 10]

In [90]:
celsius = [0,10,20.1,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celsius ]

fahrenheit

[32.0, 50.0, 68.18, 94.1]

In [91]:
lst = [ x**2 for x in [x**2 for x in range(11)]]

lst

[0, 1, 16, 81, 256, 625, 1296, 2401, 4096, 6561, 10000]

In [92]:
st = 'Print only the words that start with s in this sentence'

for word in st.split():
    if word[0] == 's':
        print(word)

start
s
sentence

In [93]:
# Use range() to print all the even numbers from 0 to 10.

list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [94]:
# Use List comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

[x for x in range(1,51) if x%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [95]:
# Go through the string below and if the length of a word is even print "even!"

st = 'Print every word in this sentence that has an even number of letters'
for word in st.split():
    if len(word)%2 == 0:
        print(word+" <-- has an even length!")

word <-- has an even length!
in <-- has an even length!
this <-- has an even length!
sentence <-- has an even length!
that <-- has an even length!
an <-- has an even length!
even <-- has an even length!
number <-- has an even length!
of <-- has an even length!

In [96]:
# Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

for num in range(1,101):
    if num % 3 == 0 and num % 5 == 0:
        print("FizzBuzz")
    elif num % 3 == 0:
        print("Fizz")
    elif num % 5 == 0:
        print("Buzz")
    else:
        print(num)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [97]:
# Use a List Comprehension to create a list of the first letters of every word in the string below:

st = 'Create a list of the first letters of every word in this string'

[word[0] for word in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [5]:
s = 'who let the dogs out'

print (s.capitalize())
print (s.title())

Who let the dogs out
Who Let The Dogs Out